body, html {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 80px;
    color: white;
    font-family: "Lucida Console";
}

audio {
    margin-top: 0;
}

.sprite {
    position: relative;
    width: 65px;
    height: 65px;
    background-image: url('http://puu.sh/nI6SA.png');
    margin: 0 auto;
    background-repeat: no-repeat;
}

/* background-position: DERECHA IZQUIERDA ACEPTA NEGATIVOS */
/* posiciones de sprites <3*/

/* Abajo */
.down1 {
    background-position: 0 -1px;
}
.down2 {
    background-position: -64px 0;
}
.down3 {
    background-position: -128px -1px;
}
.down4 {
    background-position: -192px 0;
}

/* Izquierda */
.left1 {
    background-position: 0 -65px;
}
.left2 {
    background-position: -64px -64px;
}
.left3 {
     background-position: -128px -65px;
 }
.left4 {
    background-position: -192px -64px;
}

/* Derecha */
.right1 {
    background-position: 0 -129px;
}
.right2 {
    background-position: -64px -128px;
}
.right3 {
     background-position: -128px -129px;
 }
.right4 {
      background-position: -192px -128px;
}

/* Arriba */
.up1 {
    background-position: 0 -193px;
}
.up2 {
    background-position: -64px -192px;
}
.up3 {
    background-position: -128px -193px;
}
.up4 {
    background-position: -192px -192px;
}
